body {
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.header {
background-color: #2a3744;

}

.header {
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 100px;
    
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px;
}

.links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.headerlogo {
    margin-left: 60px;
    margin-right: auto;
}

.headerimage {
    display: flex;
    align-items: center;
    margin-left: 100px;
    max-height: 340px;
}
.titlearea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background-color: #232d37;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    color:#e5ce8a;
    margin: 0;
    
}

.title p {
    color:#e5ce8a;
    opacity: 0.7;
}

.title button {
    display: block;
    text-align: center;
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.title button:hover {
    background-color: #ff9100;
    box-shadow: 0px 15px 20px rgba(235, 202, 19, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.content {
    align-items: center;
    background-color: #151c22;
}
.content-items img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 14px;
    border:5px solid #c87941;
    margin: 5px 21px 0px 21px;
    
}

.content-items img:hover{
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.content-items img:hover {
    background-color: #ff9100;
    box-shadow: 0px 15px 20px rgba(235, 202, 19, 0.4);
    color: #fff;
    transform: translateY(-5px);
}



.content-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-items p {
    color: white;
}

.content h2 {
    color: white;
}

.quote {
    background-color: #c87941;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.quote p {
    font-style: italic;
}

.quote b {

}

.signup {
    background-color: #a15c2b;
    display: flex;
    align-items: center;
    margin: 50px 150px;
    border-radius: 10px;
    padding: 10px 85px;
}

.signup h3 {
    padding: 0;
    margin: 30px 0px 0px 50px;
}
.signup p {
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.signupitem {
    flex: 1;
}

.signuptext {
    text-align: left;
}

.signupbutton button {
    width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
    
}

.signupbutton button:hover {
    background-color: #ff9100;
    box-shadow: 0px 15px 20px rgba(235, 202, 19, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

.footer {
    padding: 1px;
    background-color: #2a3744;
    height: 40px;
    text-align: center;
    color: #c87941;
    
}